GDXSim/bin/Debug/GDXSim.exe
GDXSim/bin/Debug/GDXSim.vshost.exe
GDXSim/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GDXSim/obj/Debug/GDXSim.csproj.FileListAbsolute.txt
GDXSim/obj/Debug/GDXSim.csproj.GenerateResource.Cache
GDXSim/obj/Debug/GDXSim.GeometryForm.resources
GDXSim/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
GDXSim/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GDXSim/obj/Debug/GDXSim.exe
GDXSim/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GDXSim/obj/Debug/GDXSim.Properties.Resources.resources
GDXSim/obj/Debug/GDXSim.Form1.resources
GDXSim/obj/Debug/GDXSim.csproj.FileListAbsolute.txt
GDXSim/bin/Debug/GDXSim.vshost.exe